/* Add CSS Styling */
same {
    background-color: pink;
}

 #n2 {
     color: blue;
     font-size: 40px;
 }

 .N3 {
    font-size: 30px;
 }

 #n4 {
    font-size: 20px;
    font-weight: bold;
    background-color: lime;
 }




